form(id="formRegister" method="POST" action="/api/signup" class="hidden")
    label(for="email") Email: 
    input(type="email" id="email" name="email" required)
    label(for="password") Contraseña;
    input(type="password" id="password" name="password" required)
    button(type="submit") Registrarse